body {
    background-color: #005c32;
    margin: 0px auto;
    padding: 0px;
    font-family: 微软雅黑,黑体, 宋体;
    font-size: 12px;
    text-align: left;
}

a{text-decoration:none; border:0px; color:#000;}
img {border:0px;}

.top_image {
    height: 780px;
    width: 1424px;
    margin: 0px auto;
    background-image: url(/img/host/top1.jpg);
}

.container {
    margin: 0px auto;
    width: 972px;
}

.guide {
    margin: 10px auto;
    height: 50px;
    width: 100%;
    background-image: url(/img/host/guide_background.jpg);
    background-repeat: repeat-x;
}

.guide ul {
    margin: 0px;
    padding: 0px;
    height: 48px;
    line-height: 48px;
}

.guide li {
    list-style-type: none;
    width: 120px;
    margin:0px;
    margin-top: 1px;
    text-align: center;
    font-size:20px;
    float: left;
    font-weight: 600;
    font-family: 微软雅黑,黑体, 宋体;
    color: #333;
    border-left:2px solid #666;
}

.guide li:first-child { border:0px;}

.raduis_header, .raduis_footer, .main_background {
    height:33px;
    margin: 0px auto;
    width:100%;
    background-image: url(/img/host/raduis_header.jpg);
    background-repeat: no-repeat;
}

.raduis_footer {
    background-image: url(/img/host/raduis_footer.jpg);
}

.main_background {
    background-image: url(/img/host/main_background.jpg);
    background-repeat: repeat-Y;
    background-position: -1px;
    display: table;
    background-color: #fff;
}

.content {
    width: 923px;
    margin: 0px auto;
    height: auto!important;
}

.content ul {
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 30px;
}

.content li{
    list-style-type: none;
    width: 190px;
    margin:0px;
    margin-top: 1px;
    text-align: left;
    text-indent:10px;
    font-size:16px;
    float: left;
    font-family: 微软雅黑,黑体,宋体;
    color: orange;
}
