body {
    background-color: #333;
    margin: 0px auto 60px;
    padding: 0px;
    font-family: 微软雅黑,黑体, 宋体;
    font-size: 18px;
    text-align: left;
}

a{text-decoration:none; border:0px; color:#000;}
img {border:0px;}
p {text-indent:30px;}

.red {color:red;}
.default { color:#960; }
.orange { color: orange; }
.white {color: #fff;}

.indent { text-indent:30px; }
.indent_none { text-indent: 0px!important;}

.background_red { background-color: red; }
.background_theader { background-color:orange!important; color:#fff!important;}

.size_big { font-size: 22px!important; }
.size_middle { font-size: 20px!important; }
.size_small { font-size: 18px!important; }
.size_title { font-size:26px;!important }

.weight_heavy { font-weight:900; }
.weight_normal { font-weight:700; }
.weight_light { font-weight:500; }
.weight_default{ font-weight:300; }

.margin_tb_large { margin: 50px auto;}
.margin_tb_normal { margin: 30px auto;}
.margin_tb_small { margin: 10px auto;}
.margin_tb_zero { margin: 0px auto;}
.margin_tb_default { margin: 20px auto;}

.margin_lr_large { margin: auto 100px; }
.margin_lr_normal{ margin: auto 50px; }
.margin_lr_small{ margin: auto 30px; }
.margin_lr_default{ margin: auto 10px; }
.margin_lr_zero { margin: auto 0px; }

.align_left { text-align: left; }
.align_center { text-align: center; }
.align_right { text-align: right; }

.clearfix { height:0px; _height:0px; *height:0px; +height:0px; clear: both; }

.main{
    width: 960px;
    margin: 0px auto;
    background-color:#fff;
    display: table;
}

.title { height:60px; line-height:60px; background-color:#666; color:#fff; text-indent:60px; margin: 20px auto; font-size:24px; font-weight:700; }

.body {font-size:14px; line-height:25px; margin: 20px 80px;}
.body dt {margin:10px 30px 0px; padding:0px; color:red; font-size:16px; font-weight:500;}
.body dd {margin:0px 30px 0px; padding:0px; font-size:15px; color:#000; font-weight:300;}
.body dl {margin: 10px 0px 20px; auto; color:red; font-size:18px; font-weight:700;}

.custom { border: 1px dashed #ccc; display: table; width:100%; font-size: 15px; padding: 5px; margin:10px auto;}
.left { float: left; margin-right:10px;}
.custom p { margin:8px;}

.dvd_content {margin: 20px auto; }
.dvd_content ul, .dvd_content .li { margin:0px; padding:0px; }
.dvd_content ul { padding:20px; 0px; color:red; font-size:20px; font-weight: 500;}
.dvd_content li { text-indent:30px; list-style-type: none; color:black; font-size:18px; font-weight: 300; line-height:30px;}
.wenti{font-size:12px; display:table; width:700px; margin:20px auto;}
.wenti ul{margin:0px; padding:0px;}
.wenti li{width:320px; color:#000; height:110px; float:left; margin:10px 15px; display:inline;}
.wt_title{color:#F30; font-size:14px; line-height:25px;}
.endpic span{margin: 5px;}
