body {
    background-color: #421300;
    margin: 0px auto;
    padding: 0px;
    font-family: 微软雅黑,黑体, 宋体;
    font-size: 18px;
    text-align: left;
}

a{text-decoration:none; border:0px; color:#000;}
img {border:0px;}

.red {color:red;}
.default { color:#960; }
.orange { color: orange; }

.indent { text-indent:30px; }
.indent_none { text-indent: 0px!important;}

.background_red { background-color: red; }
.background_theader { background-color:orange!important; color:#fff!important;}

.size_big { font-size: 22px!important; }
.size_middle { font-size: 20px!important; }
.size_small { font-size: 18px!important; }
.size_title { font-size:26px;!important }

.weight_heavy { font-weight:900; }
.weight_normal { font-weight:700; }
.weight_light { font-weight:500; }
.weight_default{ font-weight:300; }

.margin_tb_large { margin: 50px auto;}
.margin_tb_normal { margin: 30px auto;}
.margin_tb_small { margin: 10px auto;}
.margin_tb_zero { margin: 0px auto;}
.margin_tb_default { margin: 20px auto;}

.margin_lr_large { margin: auto 100px; }
.margin_lr_normal{ margin: auto 50px; }
.margin_lr_small{ margin: auto 30px; }
.margin_lr_default{ margin: auto 10px; }
.margin_lr_zero { margin: auto 0px; }

.align_left { text-align: left; }
.align_center { text-align: center; }
.align_right { text-align: right; }

.clearfix { height:0px; _height:0px; *height:0px; +height:0px; clear: both; }

.main{
    width: 1050px;
    margin: 0px auto;
}

.content {
    width: 971px;
    margin: 10px auto;
    height: 100%;
}

ul.nav {
    margin:5px auto;
    padding: 0px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background-image: url(/img/ge/nav_background.jpg);
    background-repeat: repeat-x;
}

ul.nav li {
    list-style-type: none;
    width:120px;
    font-size: 20px;
    float:left;
    font-weight: 600;
    color: #333;
    text-align: center;
    border-left:2px solid #666;
}

ul.nav li:first-child { border-left:0px;}

.content .header, .content .body, .content .footer {
    margin: 0px auto;
    padding: 0px;
}

.content .header{
    background-image: url(/img/ge/index_10.gif);
    background-repeat: no-repeat;
    height: 24px;
}

.content .body{
    background-image: url(/img/ge/index_11.jpg);
    background-repeat: repeat-y;
    background-color: #F9F4C5;
    height: 100%;
    width: 100%;
    display: table;
    padding: 20px 0px 30px;
}

.content .footer{
    background-image: url(/img/ge/index_13.gif);
    background-repeat: no-repeat;
    height: 23px;
}

.body dt {margin:20px 160px 0px; padding:0px; color:red; font-size:20px; font-weight:700;}
.body dd {margin:5px 160px 0px; padding:0px;}
.body dl {margin: 0px auto;}

.body table {
    width:100%;
    border: 0px;
    border-spacing: 0px;
}

.body table td {border-top: 2px solid green; vertical-align:top; font-size:15px; padding: 2px 10px 20px; color:#960;}
.body table td:first-child { width: 160px; padding:2px 0px 20px; vertical-align: middle;}
.body table td:first-child img { width: 160px; height: 235px;}

table.table_detail {
    border: 0px;
    background-color: orange;
    border-spacing: 1px;
}

table.table_detail td {
    border: 0px;
    margin: 0px;
    padding: 5px!important;
    background-color: #fff;
    width: 50%;
}
table.table_detail .vertical_center { vertical-align:middle; }

.table_detail dt { font-size:18px; color:#960;  font-weight: 600; text-align: left; margin: 10px 5px;}
.table_detail dd { font-size:17px; color:orange;  font-weight: 500; text-align: left; margin: 5px 20px;}

